.main-holder{
    background-color: #ededed;
    padding: 20px;
    border-radius: 15px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #ededed;
    padding: 10px 50px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}
.left-section{
    font-family: 'poppins';
    font-weight: 500;
    color: #030303;
    font-size: 35px;
}
.middle-section{
    font-family: 'inter';
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 20px;
    color: #333333;
}
.home, .events, .about, .contact, .hall{
    cursor: pointer;
    transition: 0.2s;
}
.home{
    color: rgb(49, 100, 244);
}
.home:hover, .events:hover, 
.about:hover, .contact:hover,
.hall:hover{
    color: rgb(49, 100, 244);
    transform: scale(1.1);
}
.right-section{
    margin: 0;
    justify-self: end;
}
.page-container{
    margin: auto 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.page-container-left{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.page-container-left p{
    color: rgb(127, 127, 127);
    font-family: 'inter';
}
.page-container-left h1{
    color: rgb(3, 3, 3);
    max-width: 70%;
    font-weight: 600;
    font-size: 50px;
    font-family: 'poppins';
    line-height: 55px;
}
.page-container-left h4{
    color: rgb(3, 3, 3);
    font-weight: 300;
}
.page-container-right{
    background-color: aliceblue;
}
.fotter{
    margin-bottom: 15px;
}
.fotter h4{
    color: rgb(38, 38, 38);
    font-family: 'inter';
    text-align: center;
    
}