.main{
    background-color: rgb(237, 237, 237);
}.register-container{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 50px;
    margin-right: 50px;
    background-color: rgb(237, 237, 237);
    border-radius: 20px;
    padding: 30px;
}
.register-container-left{
    margin: 0;
    padding: 0;
}
.register-container-left h1{
    font-family: 'poppins';
    font-weight: 500;
    color: rgb(3, 3, 3);
}
.register-container-left h4{
    color: rgb(3, 3, 3);
    font-family: 'inner';
    font-weight: 200;
    margin-top: 20px;
}
.rcl-h41{
    margin-top: 20px;
    margin-bottom: 10px;
}
.rcl-h41 hr{
    width: 40%;
}
.register-container-left p{
    font-family: 'poppins';
    font-weight: 300;
    color: rgb(3, 3, 3);
    margin-top: 20px;
    margin-bottom: 7px;
    margin-left: 10px;
    font-size: 13px;

}
.register-eventname{
    height: 55px;
    border: none;
    border-radius: 10px;
    width: 70%;
}
.register-poster::-webkit-file-upload-button{
    height: 55px;
    border: none;
    border-radius: 10px;
    background-color: white;
    width: 50%;
    margin-right: 20px;
}
.register-eventname::placeholder{
    color: black;
    padding-left: 10px;
    font-family: 'inter';
}
.register-event-gformdetails{
    display: flex;
    gap: 5px;
}
.register-gformdetails-date{
    border: none;
    margin-top: 5px;
    margin-left: 14px;
    height: 30px;
    border-radius: 5px;
}
.register-event-description{
    height: 200px;
    width: 70%;
    border-radius: 10px;
    border: none;
    padding: 10px;
    font-size: 16px;
}
.register-about-event{
    height: 300px;
    width: 70%;
    border-radius: 10px;
    border: none;
    padding: 10px;
    font-size: 16px;
}
.register-event-count, .register-contact-count{
    margin-top: 15px;
    font-size: 14px;
    margin-bottom: 10px;
    font-family: 'inter';
}
.register-contactname, .register-contactnumber{
    height: 45px;
    margin-right: 20px;
    width: 225px;
    border: none;
    border-radius: 10px;
}
.register-contactname::placeholder,
 .register-contactnumber::placeholder{
    font-size: 15px;
    padding-left: 10px;
}
.register-container-right{
    background-color: aquamarine;
}
.submit-button{
    display: block;
    height: 40px;
    border: none;
    background-color:blue;
    color: white;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
}