.main{
    background-color: rgb(237, 237, 237);
}.register-container{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 50px;
    margin-right: 50px;
    background-color: rgb(237, 237, 237);
    border-radius: 20px;
    padding: 30px;
}
.register-container-left{
    margin: 0;
    padding: 0;
}
.register-container-left h1{
    font-family: 'poppins';
    font-weight: 500;
    color: rgb(3, 3, 3);
}
.register-container-left h4{
    color: rgb(3, 3, 3);
    font-family: 'inner';
    font-weight: 200;
    margin-top: 20px;
}
.rcl-h41{
    margin-top: 20px;
    margin-bottom: 10px;
}
.rcl-h41 hr{
    width: 40%;
}
.register-container-left p{
    font-family: 'poppins';
    font-weight: 300;
    color: rgb(3, 3, 3);
    margin-top: 20px;
    margin-bottom: 7px;
    margin-left: 10px;
    font-size: 13px;

}
.register-eventname{
    height: 55px;
    border: none;
    border-radius: 10px;
    width: 70%;
}
.register-eventname::placeholder{
    color: black;
    padding-left: 10px;
    font-family: 'inter';
}
.register-event-gformdetails{
    display: flex;
    gap: 10px;
}
.register-gformdetails-date{
    border: none;
    margin-top: 10px;
    border-radius: 5px;
}
.register-container-right{
    background-color: aquamarine;
}