.events-main-holder{
    background-color: #ededed;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}.event-nav-home{
    transition: 0.2s;
    cursor: pointer;
}
.event-nav-home:hover{
    color: rgb(49, 100, 244);
    transform: scale(1.1);
}
.event-nav-events{
    cursor: pointer;
    color: rgb(49, 100, 244);
}
.eventregister-popup{
    position: fixed;
    right: 10px;
    top: 80px;
    z-index: 1000;
    padding: 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    
}
.eventregister-popup-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.eventregister-popup-container img{
    height: 500px;
}
.eventregister-popup-container h3{
    text-align: center;
}
.eventregister-popup-container button{
    height: 40px;
    margin: 0px 40px;
    border: none;
    background-color: rgb(49, 100, 244);
    color: white;
    font-size: 22px;
}
.event-container{
    margin-top: 50px;
    margin-right: 440px;
    margin-left: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.event-container-event{
    padding: 20px;
    border-radius: 5px;
    background-color: rgb(209, 208, 208);
    display: flex;
    flex-direction: column;
    margin: 0;
}
.event-container-event img{
    height: 300px;
}
