.event-details-popup{
    position: fixed;
    right: 20px;
    top: 90px;
    z-index: 1000;
    width: 300px;
    height: 600px;
    background-color:  rgb(234, 175, 239);
    color: rgb(86, 85, 85);
    text-align: center;
}.event-detail-container{
    background-color: rgb(237, 237, 237);
    display: flex;
    flex-direction: column;
}
.event-main-event-name{
    font-size: 50px;
    margin-left: 550px;
}
.event-nav-hall{
    transition: 0.2s;
    cursor: pointer;
}
.event-nav-hall:hover{
    color: rgb(49, 100, 244);
    transform: scale(1.1);
}
.event-detail-name{
    font-family: 'poppins';
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin-right: 200px;
    margin-top: 30px;
    margin-bottom: 5px;
}
.event-detail-description{
    margin-left: 100px;
    max-width: 1000px;
    font-family: 'inter';
    font-weight: 500;
    font-size: 24px;
}
.event-detail-poster{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 170px;
    max-width: 1000px;
    max-height: 700px;
}
.event-detail-about-event-title, 
.event-detail-discription-event-title,
.event-detail-Poster-event-title,
.event-detail-typeofevent-title,
.event-detail-webinarlink-title,
.event-detail-contact-title,
.event-detail-registration-link-title{
    font-family: 'poppins';
    font-size: 24px;
    font-weight: 600;
    margin-left: 100px;
    margin-bottom: 20px;
}
.event-detail-aboutevent,
.event-detail-description,
.event-detail-typeofevent,
.event-detail-webinar,
.event-detail-contact,
.event-detail-registration-link{
    margin-left: 170px;
    margin-bottom: 20px;
    max-width: 900px;
    font-family: 'inter';
    font-size: 20px;
}
